* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clock {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 4px blue solid;
    position: relative;

}

.arrow-vertical {
    width: 3px;
    height: 10px;
    background-color: black;
    position: absolute;
    
}

.arrow-60 {
    left: 50%;
}
.arrow-30 {
    bottom: 0px;
    left: 50%;
}
.arrow-horizontal {
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: black;
}
.arrow-15 {
    top: 50%;
    right: 0;
}
.arrow-45 {
    top: 50%;
}

.arrow-45::after {
    content: "45";
    position: absolute;
    top: -15px;
    left: 15px;
    font-size: 26px;
}
.arrow-15::after {
    content: "15";
    position: absolute;
    top: -14px;
    right: 13px;
    font-size: 26px;
}
.arrow-30::after {
    content: "30";
    position: absolute;
    bottom: 10px;
    right: -11px;
    font-size: 26px;
}
.arrow-60::after {
    content: "60";
    position: absolute;
    top: 10px;
    left: -10px;
    font-size: 26px;
}

.main-arrow {
    height: 48%;
    width: 3px;
    position: absolute;
    left: 50%;
    top: 7px;
    background-color: red;
    transform-origin: center 100%;
    animation-name: timer;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes timer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.arrow-2 {
    height: 50px;
    width: 3px;
    position: absolute;
    left: 30%;
    top: 15%;
    background-color: green;
    transform-origin: center 100%;
    animation-name: timer;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.arrow-3 {
    height: 50px;
    width: 3px;
    position: absolute;
    left: 65%;
    top: 15%;
    background-color: green;
    transform-origin: center 100%;
    animation-name: timer;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}